@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#4facfe,#00f2fe);

    padding:30px;
}

.container{

    width:700px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(18px);

    border-radius:20px;

    padding:35px;

    box-shadow:0 20px 40px rgba(0,0,0,.2);

    color:white;
}

h1{

    text-align:center;

    margin-bottom:25px;

    font-size:38px;

}

.input-box{

    display:flex;

    gap:15px;

    margin-bottom:30px;
}

.input-box input{

    flex:1;

    border:none;

    outline:none;

    padding:15px;

    border-radius:12px;

    font-size:18px;
}

.input-box button{

    border:none;

    padding:15px 28px;

    background:#6C63FF;

    color:white;

    cursor:pointer;

    border-radius:12px;

    transition:.3s;
}

.input-box button:hover{

    transform:scale(1.05);
}

.stats{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:15px;

    margin-bottom:25px;
}

.card{

    background:rgba(255,255,255,.2);

    padding:18px;

    border-radius:15px;

    text-align:center;
}

.card h2{

    font-size:30px;
}

.filters{

    display:flex;

    justify-content:space-between;

    margin-bottom:20px;

    gap:10px;
}

.filters button{

    flex:1;

    padding:12px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:white;

    color:#333;

    transition:.3s;
}

.filters button:hover{

    transform:translateY(-2px);
}

.active{

    background:#6C63FF !important;

    color:white !important;
}

#taskList{

    list-style:none;

    display:flex;

    flex-direction:column;

    gap:15px;
}

#taskList li{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:rgba(255,255,255,.25);

    padding:15px;

    border-radius:12px;
}

.task-left{

    display:flex;

    align-items:center;

    gap:12px;
}

.task-left input{

    width:20px;

    height:20px;

    cursor:pointer;
}

.task-left span{

    font-size:18px;
}

.completed{

    text-decoration:line-through;

    opacity:.6;
}

.actions{

    display:flex;

    gap:10px;
}

.actions button{

    border:none;

    padding:8px 14px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;
}

.actions button:first-child{

    background:#FFC107;
}

.actions button:last-child{

    background:#FF4D4D;

    color:white;
}

.actions button:hover{

    transform:scale(1.05);
}

@media(max-width:768px){

    .container{

        width:100%;
    }

    .stats{

        grid-template-columns:1fr;
    }

    .filters{

        flex-direction:column;
    }

    .input-box{

        flex-direction:column;
    }

}